.login_wrapper {
  background: linear-gradient(#0a0b18 50%, #0a0118);
  :global {
    .word {
      animation: cycle-words 7s infinite;
    }
    .border-button-light-blur {
      border: 3px solid transparent;
      &::before {
        left: -0.125rem;
        top: -0.125rem;
        z-index: 10;
        border-width: 2px;
        --tw-blur: blur(2px);
        background:
          linear-gradient(transparent, transparent) padding-box,
          linear-gradient(97.68deg, rgba(255, 177, 153, 0) 38.1%, rgba(255, 177, 153, 0.2) 82.47%, #ff7950 93.3%)
            border-box;
      }
      &::after {
        left: -3px;
        top: -3px;
        z-index: 20;
        border-width: 3px;
        --tw-blur: blur(15px);
        background:
          linear-gradient(transparent, transparent) padding-box,
          linear-gradient(91.88deg, rgba(255, 137, 100, 0.2) 46.45%, #cd3100 98.59%) border-box;
      }
      &::before,
      &::after {
        content: '';
        position: absolute;
        box-sizing: content-box;
        height: 100%;
        width: 100%;
        border-radius: 9999px;
        border-color: transparent;
        border-style: solid;
        filter: var(--tw-blur);
      }
    }
    .border-button-light {
      background:
        linear-gradient(transparent, transparent) padding-box,
        linear-gradient(
            103.7deg,
            hsla(15, 25%, 65%, 0.1) 38.66%,
            rgba(233, 132, 99, 0.1) 68.55%,
            #e98463 85.01%,
            #fff 92.12%
          )
          border-box;
      border-width: 1px;
      border-color: transparent;
      &::before {
        content: '';
        position: absolute;
        left: -0.125rem;
        top: -0.125rem;
        z-index: 30;
        box-sizing: content-box;
        height: 100%;
        width: 100%;
        border-radius: 9999px;
        border-width: 2px;
        border-color: transparent;
        --tw-blur: blur(7px);
        filter: var(--tw-blur);
        background:
          linear-gradient(transparent, transparent) padding-box,
          linear-gradient(91.96deg, rgba(255, 177, 153, 0) 6.11%, rgba(255, 177, 153, 0.2) 53.57%, #ff7950 93.6%)
            border-box;
      }
    }
    img {
      display: block;
      transition: 1s cubic-bezier(0.6, 0.6, 0, 1) opacity;
      border-style: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
    .light_image {
      position: absolute;
      transform: scale(1);
      transform-origin: left top;
      transition: 0.5s ease transform;
    }
    .projects_bg {
      --background-image: url(https://wope.com/images/creating-project/creating-project-finder-mask.png);
      mask-image: var(--background-image);
      mask-position: center;
      mask-size: cover;
      width: 120%;
      transition: 1s cubic-bezier(0.6, 0.6, 0, 1) opacity;
    }
    .projects_inner {
      --translate-x: -120px;
    }
    .section2_box:not(.project_viewport) .projects_inner {
      transform: translate(calc(var(--translate-x) + 100px));
    }
    .section2_box:not(.project_viewport) .project_row {
      transform: translate(calc(-100% + 600px));
      transition: none;
    }
    .project_row:nth-child(1) {
      --translate-x: 0;
      transition-duration: 2.5s;
    }
    .project_row:nth-child(2) {
      --translate-x: 150px;
      transition-duration: 3s;
    }
    .project_row:nth-child(3) {
      --translate-x: -50px;
      transition-duration: 3.5s;
    }
    .project_row:nth-child(4) {
      --translate-x: -320px;
      transition-duration: 4s;
    }
    .project_row {
      width: max-content;
    }
    .projects_inner,
    .project_row {
      transform: translate(var(--translate-x));
      transition: cubic-bezier(0.6, 0.6, 0, 1) transform;
    }

    .footer_top {
      &::after {
        background: radial-gradient(50% 56400% at 50% 100%, #a9a3c23d, #a9a3c200);
        bottom: 0;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
      }
      &::before {
        background: linear-gradient(270deg, #3d354e00 28.87%, #3d354e 45.39%, #3d354e 53.54%, #3d354e00 70.06%);
        top: 0;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }

    .text_gradient {
      background: linear-gradient(180deg, #fff 22.5%, #ffffffb3);
      background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
      font-weight: 800;
    }
    .text_desc {
      color: #9b96b0;
    }

    .section5_box {
      background-image: url('https://wope.com/images/cta/cta-background.png');
      background-size: cover;
      width: 100%;
      aspect-ratio: 1.75;
      overflow: hidden;
      position: relative;
      z-index: 0;
      min-height: 400px;
    }
  }
}

.cards_wrapper {
  :global {
    .card {
      min-height: 200px;
      position: relative;
      overflow: hidden;
      border-radius: 16px;
      padding: 1px;
      background: linear-gradient(180deg, #a9a3c233, #a9a3c20c);
      &::before,
      &::after {
        border-radius: inherit;
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s;
      }
      &::before {
        background: radial-gradient(
          700px circle at var(--mouse-x) var(--mouse-y),
          rgba(255, 255, 255, 0.06),
          transparent 40%
        );
        z-index: 15;
      }
      &::after {
        background: radial-gradient(
          700px circle at var(--mouse-x) var(--mouse-y),
          rgba(255, 255, 255, 0.4),
          transparent 40%
        );
        z-index: 1;
      }
      &:hover::before {
        opacity: 1;
      }
      .card_content {
        width: 100%;
        height: 100%;
        z-index: 2;
        position: relative;
        background-color: #0a0118;
        border-radius: inherit;
        overflow: hidden;
      }
    }
  }
  &:hover {
    :global {
      .card::after {
        opacity: 1;
      }
    }
  }
}
