/* 初始化基础样式 */
@import url('./normalize.css');
@import url('./nprogress.css');

*,
h1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

:root {
  --mj-color-primary: #1677ff;
  --mj-color-primary-bg-hover: #bae0ff;
}

/* 设置滚动条的宽度和高度 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border: 2px solid transparent;
  background-clip: padding-box;
}
/* 设置滚动条滑块的颜色和圆角 */
::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
/* 设置滚动条轨道的颜色和圆角 */
::-webkit-scrollbar-track {
  background-color: transparent;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 9999;
}
::view-transition-new(root) {
  z-index: 1;
}

.dark::view-transition-old(root) {
  z-index: 1;
}
.dark::view-transition-new(root) {
  z-index: 9999;
}

@keyframes cycle-words {
  13% {
    -webkit-transform: translateY(-105%);
    transform: translateY(-105%);
  }

  33% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  46% {
    -webkit-transform: translateY(-205%);
    transform: translateY(-205%);
  }

  66% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  80% {
    -webkit-transform: translateY(-305%);
    transform: translateY(-305%);
  }

  100% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }
}
