/* 初始化基础样式 */
@import url('./normalize.css');
@import url('./nprogress.css');

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

:root {
  --mj-color-primary: #1677ff;
  --mj-color-primary-bg-hover: #bae0ff;
}
